<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
</head>
<body>
    <div id="myApp">
        <h1>Batman quoteList: {{ quoteList.length }} - initialQuotes: {{ initialQuotes }}</h1>
        <input 
            type="text" 
            placeholder="Add quote" 
            @keypress.enter="addQuote" 
            v-model="newMessage"
        >
        <br><br>
        <button @click="toogle()">Toggle Author</button> | 
        <button @click="addQuote()">Add quote</button>
        <hr>
        <h4 v-show="ifAuthor">Subtitle v-show</h4>
        <ul>
            <li v-for="({ quote, author }, index) in quoteList">
                <span>{{ index+1 }} - {{ quote }}</span>
                <blockquote v-if="ifAuthor">
                    {{ author }}
                </blockquote>
            </li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./principal.js"></script>
</body>
</html>
